.color-bars-container {
	position: absolute;
	top: 50%;
	left: 0;
	width: 100%;
	margin-top: -25vh;
}

.color-bar {
	height: 8vh;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.color-bars-container .color-bar {
	animation: sinus-wave 2s infinite;
}

.color-bars-container .color-bar:nth-child(1) {
	background-image: linear-gradient(to bottom, #000, #00aa00, #000);
	animation-delay: -80ms;
}

.color-bars-container .color-bar:nth-child(2) {
	background-image: linear-gradient(to bottom, #000, #00bb00, #000);
	animation-delay: -160ms;
}

.color-bars-container .color-bar:nth-child(3) {
	background-image: linear-gradient(to bottom, #000, #00cc00, #000);
	animation-delay: -240ms;
}

.color-bars-container .color-bar:nth-child(4) {
	background-image: linear-gradient(to bottom, #000, #00dd00, #000);
	animation-delay: -320ms;
}

.color-bars-container .color-bar:nth-child(5) {
	background-image: linear-gradient(to bottom, #000, #00ff00, #000);
	animation-delay: -400ms;
}
